
    <div class="center">
        <h1>Login</h1>
        <form action="/admin/auth/login" method="post">
            <div class="item">
                <label for="">User name</label>
                <input name="user_name" type="text">
            </div>
            <div class="item">
                <label for="">Password</label>
                <input name="password" type="text">
            </div>
            <button>Submit</button>
        </form>
    </div>
